<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Urban by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Urban <span>by TEMPLATED</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/DataCollection"> Data Collection</a></li>
					<li><a href="/skillsdashboard">Skills Dashboard</a></li>
					<li><a href="/vacancydata">Topic Models Vacancy Data</a></li>
				</ul>
			</nav>


        <p> <h2> Institutes </h2> </p>

        <p> Our sample consisted of 150 business schools that are accredited by <a href = "http://www.efmd.org/accreditation-main/equis"> EQUIS </a>,
          the European accreditation association conducting quality assurance of business school.
          Our sample of institutions is located in 42 countries. </p>
        <p> <h2> Data Sources </h2>
        </p>
        <p>For each institution, we captured their social media activity between <em>January 1st 2011 and September 7th 2017</em>.
           We focused on content curated by the institutions on <a href="www.twitter.com"> <strong>Twitter</strong> </a> and <a href="www.facebook.com>">
             <strong>Facebook</strong> </a>. In practice this means, the data contains all tweets that institutions created or retweeted,
           and all posts that the institutions posted on their official Facebook page. This excludes students comments, and @ mentions.
           This resulted in a dataset of 975,574 social media posts.
           Due to language and technical issues we focused on posts that were in English and contained no more than 4000 bites,
           between 1024 and 4096 characters. After data cleaning our database contained a total of 652,625 posts, consisting of 386,882 tweets and
           265,743 Facebook posts.
           <br>
           Using literature we created skill categorize to help exploring the data. We focused on three <em>data-driven decision making skills </em> (Big data, data science, and relational big data),
           and three <em>21st century skills </em> (collaboration, communication, ICT literacy, and Citizenship). For each skill category we developed a thesaurus, a list of
           words that describe the skill.

        <p>Information about students’ self-reported skills and employment information was gathered using <a href = "www.linkedin.com"> <strong>LinkedIn’s school pages </strong></a>.
          This does not include any personal information. The school's pages provide aggregated information about the
           top self-reported skills and current employers of graduates who have attended the institutes during our selected time period.
         </p>
         <p>
           Once our students graduate from their programs, they will be working for companies, big and small. We wanted to understand what it means to work
           for these companies. Are they innovative? Do they provide a good working climate ? To get insights about this, we decided to gather information
           about what employees are saying about their employers. Therefore, we collected employee reviews from the recruitment site <a href="www.indeed.com"> indeed </a>.
           We scrapped reviews from companies where our graduates worked with the aim to rank companies according to how favorable the reviews were. To make the Analysis
           manageable, for each company we took a sample of 1000 reviews, calculated the sentiment for each review, and averaged the sentiments for each company.
           These steps were conducted five times, and the sentiment values for each company was averaged across these five analysis cycle. Our ranking ranged from
           +1 (good company) to -1 (bad company). The mean sentiment was 0.64 (sd = 0.1). The lowest score was -0.18 and the highest score was 0.85.
         </p>
        <p>With the aim to understand the research and teaching expertise of business school we collected information about vacancies
          from academic institutes. We collaborated with <a href ="www.academictransfer.nl"><strong>Academic Transfer </strong></a>,
          a company publicizing vacancies in the Dutch Academic labor market.
          From their dataset we analyzed vacancies across all scientific disciplines from 2010-2017. We conducted an automatic topic analyzes on the
          vacancies description and requirements
           (<a href="http://blog.echen.me/2011/08/22/introduction-to-latent-dirichlet-allocation/"> Latent Dirichlet Analysis </a>). We analyzed the word distributions
           across several different models and decided that the clustering of words into topics wast most insightful with eleven topics.
           The results are reported in [add tab]. Each circle represents one topic. By selecting a topic, the words and their probability to be part of this topic are shown.
        </p>
        <p> To gain better insight into the labor market and skill level, we searched for open data sets.
          The European Commission conducts reseach on <a href="https://ec.europa.eu/digital-single-market/en/news/new-report-shows-digital-skills-are-required-all-types-jobs">
          <strong>digital skills</strong> </a>. From this research project, we included the <a href="https://ec.europa.eu/digital-single-market/en/news/ict-work-digital-skills-workplace"> Digital Skill Survey </a>. Specifically, we added
          survey respondents’ information about their company (size of company, country of HQ, job title) and their estimates about digital skills needed and
          possessed across different job categorize (professionals, managers, sales). In the survey’s code book these questions were Q16, and Q23
          for managers, professionals, technicians, clerical support worker, and sales wokers.
           <br>
           Also from the European commission, we included <a href="http://appsso.eurostat.ec.europa.eu/nui/show.do?dataset=isoc_sk_dskl_i&lang=en">
             Eurostat’s dataset </a> on managers’ perception about digital skill of employees, downloaded via <a href="www.datamarket.com"> datamarket </a>.
             <br>
           From the <a href="www.oecd.org"> OECD </a>, we included results from the <a href="http://www.oecd.org/skills/piaac/"><strong>2013 Adult Skill Survey (PIAAC)</strong></a>,
           which provides country information about abilities, work style, skill, and knowledge.
            <a href="http://www.oecd.org/skills/piaac/Technical%20Report_Section%201.pdf">The survey assessed literacy, numeracy, and problem-solving in technology rich environments </a>.
           <br>
           From OECD we also included <a href="www.oecd.org/skills/piaac/SkillsOutlook2013_ENG_Table_Chapter1.xlsx">
             two tables with country specific trend data </a> about percentage of workers who report structural change in their workplace and percentage
           of workers who report new ways of working in the workplace (1990 – 2009).
         </p>



              <table>
                <tr>
                  <th> Skill Category </th> <th> Words </th>
                </tr>
                <tr>
                  <td> Collaboration </td>
                  <td> teamwork teaming "collaboration skill" negotiat* compromise "shared responsibility" "team member" "individual contribution" </td>
                  <td> </td>
                </tr>
                <tr>
                  <td>Communication </td>
                  <td> "communication skill" mother?tongue foreign?tongue language "written communication" "verbal communication" "interpret world" "interpret reality" vocabulary vocab grammar grammatical "verbal interaction" dialogue intercultural "listening skill" "speaking skill" "reading skill" "writing skill" "spoken message" </td>
                </tr>
                <tr>
                  <td>ICT Literacy </td>
                  <td> "information literacy" "digital environment" "digital skill" "process information" "organize information" "transform information" "create knowledge" "create information" "research skill" problem?solving~ "integrate information" "summarize information" "summarise information" "analyze information" "analyse information" "interpret information" "model information" "ICT literacy" "ICT skill" </td>
                </tr>
                <tr>
                  <td> Citizenship</td>
                  <td> citizenship "societal literacy" "cultural literacy" "personal competence" "personal skill" "interpersonal competence" "interpersonal skill" "intercultural competence" "intercultural skill" "social life" "working life" "codes of conduct" manners norms multi?cultural socio?economic tolerance viewpoint "negotiating skill" empathy assertiveness integrity citizenship  "civil right" solidarity "value systems" "ethnic group" "religious group" responsibility "shared value"</td>
                </tr>
                <tr>
                  <td> Big Data</td>
                  <td> Apache Hadoop Hive Java Spark Yarn Scala SQL TensorFlow Python "streaming data analytics"~ "Temporal data analytics"~ "geospatial data analytics"~ "network analysis" "network analytics" "text analysis" "text analytics" "latent semantic analysis" lsa Database program?ing MapReduce HDFS NoSQL HBase Cassandra MongoDB "C++" "C#" "Structured Query language"</td>
                </tr>
                <tr>
                  <td> Relational Big Data</td>
                  <td> Data?warehousing~ dimensional?modeling "extraction transformation and loading" "dimensional data visualization" dashboard scorecard "advanced SQL" "procedural extensions" "intermediate SQL" "relational data model" normalization "ER diagrams" Hive</td>
                </tr>
                <tr>
                  <td> Data Science</td>
                  <td>  "Data products development" "R Shiny" "deep learning" "reinforcement learning"  "ensemble learning" "neural network"~ "natural language processing" nlp "random forests"~ "uni-directed graphical" math statistic~ classification Regression "support vector machines"~ svm algorithm "linear regression" "nonlinear regression" "logistic regression" "link analysis" "sequence analysis" "cluster analysis" "graph-based techniques"~ k?means "hierarchical clustering" "text mining"~ "web analytics"~ "linear algebra" calculus probability R?program?ing</td>
                </tr>
              </table>
              </p>
            </div>

</body>
</html>
