<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)

	menu picture (hamburger) not loading
	datasource.html not found (404 error)
-->
<html>
	<head>
		<title>Futurizing Business Schools</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href={{ url_for('static', filename='css/bootstrap.min.css')  }} rel="stylesheet">
		<link rel="stylesheet" href="/static/css/main.css" />
	    <!--<link href={{  url_for('static', filename='css/main.css')              }} rel="stylesheet">-->
		<!--<link href={{  url_for('static', filename='/css/font-awesome.min.css')       }} rel="stylesheet">-->
	</head>
	<body>

		<!-- Header -->
		    <header id="header" class="alt">
				<div class="logo"><a href="index">Futurizing Business Schools</a></div>
				<a href="#menu">Menu</a>
			</header>


		<!-- Nav -->

        <nav id="menu">
				<ul class="links">
					<li><a href="/index">Home</a></li>
					<li><a href="/skillsdashboard">Skills Dashboard</a></li>
					<li><a href="/datasources">Data Collection</a></li>
					<li><a href="/vacancydata">Human Capital Strategy </a></li>
				</ul>
			</nav>



		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Analyze your Business School</h1>
					<!--<p>With the help of <em>Futurizing BizSchool</em> decision-makers can explore their activities and compare against internal benchmarks, or compare and contrast
            their institues against national and international competitors. The insights gained can feed into strategic plans and design the future of Business Schools.</p>-->
						<p>Use data to help you make better informed decisions about your business school's position.<br/>
							This business intelligence tool allows you to explore the internal and external activities of your business school.
							You can use it to answer questions such as:
							Does your social media strategy match your strategic plan? How do you perform compared to your competitors ?
							Are you able to place your graduates in good companies? Do you hire the right talent for teaching your students?
							 </p>
					</header>
					<a href="#main" class="button big scrolly">Learn More</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section 1 -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="/skillsdashboard" class="link">
											    <img src="{{  url_for('static', filename='images/analytics01.png')  }}" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h2> Biz-Lytics: Futurize Business School Dashboard </h2>
										<p> Our dashboard combines data from various sources to provide you with a comprehensive view. It conains macro-information from the OECD and European Commission,
										creating a national benchmark. It also combines your business school's social media activity, and other information about your students.
									The dashboard is interactive, you can focus on specific business schools, countries, skills etc.</p>
										<a href="/skillsdashboard" class="button">Learn More</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section 2
					something wrong here with the hyperlinks. maybe just give it some time.
				change order of columns
				-->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h2>Data Collection</h2>
									<p> The dashboard is based on data from 150 <a href = "http://www.efmd.org/accreditation-main/equis"> EQUIS </a> accredited business schools,
									100 top universities which do not have EQUIS accreditation. The business schools are located in 42 countries.
										</p>
									<p> The dasboard combines data from social media platforms, employer reviews, LinkedIn school pages, academic vacancies, and data collected by the OECD and European Commission.
										</p>
									<a href="/datasources" class="button">Learn More</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="/datasources" class="link"><img src="{{  url_for('static', filename='images/datacollection.jpg')  }}" alt="" /></a>

									</div>
								</div>
							</div>
						</div>
					</section>

					<!-- Section 3-->
						<section class="wrapper style2">
							<div class="inner">
								<div class="flex flex-2">
									<div class="col col2">
										<h2>Human Capital Strategy</h2>
										<p> The dashboard focuses on skills and learning environments. It has a strong focus on students. For Business School to prepare
										graduates they need to hire the right talent. The individuals Business Schools hire have an impact on the research output of Schools,
									but also on the content and quality of teaching. In collaboration with <a href="www.academictransfer.com">Academic Transfer</a>
								this project also includes an analyzis of the human capital Business Schools hired wanted to hire. We focus on the vacancy text
							as an indication of the human capital strategy that is in place instead of the supply of skills the labor market can provide. </p>
										<a href="/vacancydata" class="button">Learn More</a>
									</div>
									<div class="col col1 first">
										<div class="image round fit">
											<a href="/vacancydata" class="link"><img src="{{  url_for('static', filename='images/resume.png')  }}" alt="" /></a>
										</div>
									</div>
								</div>
							</div>
						</section>




		<!-- Footer: include contact form? link to team's profile> -->
    <!-- Footer -->
      <footer id="footer">
        <div class="copyright">
          <!--<ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Jos Lemmink</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Katerina Bohle Carbonell</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
          </ul>-->
					<p> This project has been made possible thanks to funding by Maastricht University School of Business Management Board, and collaboration with the Institue of Data Science.
					</p>
          <p>&copy; Futurizing BizSchool. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://pixabay.com">Pixabay</a>.</p>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/jquery.scrolly.min.js"></script>
      <script src="/static/js/jquery.scrollex.min.js"></script>
      <script src="/static/js/skel.min.js"></script>
      <script src="/static/js/util.js"></script>
      <script src="/static/js/main.js"></script>

  </body>
</html>
